
.cf::before, .cf::after{
    display: table;
    content: "";
}
.cf::after{
    clear:both;
}
ul{
    float: right;
    list-style-type: none;      
}
.main-wrapper {
    width: 960px;
    margin: 0  auto;
}
li{
    float: left;
    margin-right: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    
}
div.header{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: rgb(153, 3, 3);
    margin-bottom: 5px;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.articles{
    width: 100%;
}
.block {
    width: 100%;
    height: 200px;
    background-color: red;
    
}
.float{
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-top: 15px;
}
.float:nth-child(3n){
    margin-right: 0;
    
}
#treci{
    background-color: rgb(247, 186, 56);
    height: 260px;
}
.black{
    color: black;
    padding: 7px;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}
.crveni{
    background-color: rgb(170, 73, 73);
}
.plava{
    background-color: rgba(1, 1, 26, 0.938);
}
.zuta {
    background-color: rgb(230, 177, 46);
}
.zelena {
    background-color: rgb(62, 167, 62);
}
#ul li{
    border-bottom: black solid 1px;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
#footer{
    background-color: rgba(1, 1, 26, 0.938);
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 7px;
}
