<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layout.css" type="text/css">
    <title>Navigation</title>
</head>

<body>
    <div class="main-wrapper">

        <header class="cf header">
            <nav>
                <ul class="cf">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Blog</li>
                </ul>
            </nav>

        </header>
        <main>
            <section>
                <img src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="">
            </section>
            <section class="articles cf">
                <article class="float cf">

                    <article class="block crveni"> </article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>

                <article class="float cf">
                    <article class="block plava"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>

                <article class="float cf">
                    <article class="block" id="treci">
                        <ul id="ul">
                            <li class="black">Rebuilding slack.com</li>
                            <li class="black">Zasto boot camp format?</li>
                            <li class="black">React - prozor u svet web aplikacije</li>
                            <li class="black">Najvece zablude o programerima u Srbiji</li>
                        </ul>
                    </article>

                </article>

                <article class="float cf">
                    <article class="block zuta"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>
                <article class="float cf">
                    <article class="block zelena"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>
                <article class="float cf">
                    <article class="block crveni"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>
                <article class="float cf">
                    <article class="block plava"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>
                <article class="float cf">
                    <article class="block zuta"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>
                <article class="float cf">
                    <article class="block zelena"></article>
                    <p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis,
                        debitis
                        nihil id repellat
                        suscipit deleniti quasi iste porro minima dolorem inventore modi quibusdam voluptate placeat
                        aperiam
                        illum error amet?</p>
                </article>




            </section>
        </main>


        <footer id="footer">
            <p id="p">&copy BitStudent</p>
        </footer>
    </div>
</body>

</html>