
// img{
//     width: 300px;
// }
#first-team{
    display: flex;
    justify-content: space-evenly;
}
.players{
    background-color: orange;
    width: 200px;
}
.reservePlayers{
    background-color: lightsalmon;
}


