/***   navbar ***/
#first-section {
  position: relative; }
  #first-section #banner {
    width: 100%; }

header {
  position: absolute;
  top: 3%;
  display: flex;
  justify-content: space-around;
  width: 100%; }
  header h3 {
    color: white; }
    header h3 span {
      color: orange; }
  header p {
    color: white; }

#head-center {
  color: white;
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #head-center span {
    color: orange; }
  #head-center #head-p {
    width: 45%;
    text-align: justify; }
  #head-center p > button {
    text-align: center;
    color: white;
    border: 1px solid white; }
  #head-center button:hover {
    background-color: orange;
    transition: ease-in 0.3s;
    border: orange solid 1px; }
  #head-center h1 {
    font-size: 50px; }

@media all and (max-width: 927px) {
  header h3 {
    font-size: 19px; }

  #head-center {
    position: absolute;
    top: 30%; }
    #head-center h1 {
      font-size: 34px; } }
@media all and (max-width: 780px) {
  #banner {
    height: 370px; }

  header h3 {
    font-size: 19px; }

  #head-center {
    position: absolute;
    top: 30%; }
    #head-center h1 {
      font-size: 28px; }
    #head-center #head-p {
      font-size: 14px; }

  #third-section img {
    height: 95px; } }
@media all and (max-width: 524px) {
  #third-section {
    position: relative; }
    #third-section #third-center {
      position: absolute;
      top: 20px; } }
#second-section {
  display: flex;
  justify-content: space-around; }
  #second-section .icons {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #second-section .icons p {
      width: 50%;
      text-align: center; }
  #second-section .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 2px solid gray;
    border-radius: 50%;
    margin-bottom: 5px; }
  #second-section .circle:hover {
    border: orange solid 2px;
    background: gray;
    transition: ease-in 0.3s; }

#third-section {
  position: relative; }
  #third-section #third-center {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    justify-content: center; }
    #third-section #third-center #space {
      width: 15px;
      height: 15px; }
    #third-section #third-center input {
      height: 35px; }
    #third-section #third-center #input {
      width: 320px;
      border-radius: 8px;
      border: none;
      margin-bottom: 10px; }
    #third-section #third-center #submit {
      background-color: orange;
      color: white;
      border: none;
      border-radius: 8px;
      width: 190px;
      font-weight: bold; }
    #third-section #third-center #submit:hover {
      transition: ease-in 0.3s;
      border: orange solid 1px; }
  #third-section img {
    width: 100%;
    height: 150px; }

.titles {
  margin-top: 30px;
  margin-bottom: 50px; }
  .titles span {
    color: orange; }

/*# sourceMappingURL=style.css.map */
