body{
    background-image: url(../images/github.jpg);
}
#logo{
    width: 70px;
}
img{
    width: 300px;
    border-radius: 15px 0 0 0;
}
section{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    border-radius: 15px;
    margin-bottom: 10px;
}
.repository{
    border: 2px solid black;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profiles{
    margin-bottom: 25px;
}
h3{
    background-color: lightblue;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 15px 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
