/* .navbar{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
} */
/* .collapse{
    display: flex;
    justify-content: flex-end;
} */
#logo{
    width: 70px;
}
img{
    width: 300px;
    border-radius: 15px;
    border: 2px solid black
}
.section{
    display: flex;
}
