.background{
    background-color: yellow;
    /* border: solid 5px; */
    border: red dashed 5px;
    display: inline-block;
    margin-right: 20px;
    padding: 0;

    
}
#second{
    border: green solid;
    /* padding-top: 50px; */
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    /* display: inline-block; */
    display: none;
}
#first {
    /* padding: 50px; */
    width: 300px;
    /* margin: 50px; */
    /* display: inline-block; */
    
}
#third {
    /* padding: 50px; */
    width: 200px;
    /* margin-left: 100px; */
    /* display: inline-block; */
    visibility: hidden;
}
h1 {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: tan;
    color: navy;
    font-family: 'Sriracha', cursive;
    box-shadow: 66px -33px 12px 1px crimson;
    border-radius: 15px;

}
