.header {
    margin-bottom: 20px;
}

.title {
    margin: 10px;
}

.show-img {
    width: 600px;
}

h1 {
    margin-bottom: 20px !important;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 70px;
    margin-top: 20px;
}

.details {
    margin-top: 10px;
}