.background {
    background-color: red;
}

.blue-bg {
    background-color: lightblue;
}

.green-bg {
    background-color: lightgreen;
}

.textAndColor {
    background-color: purple;
    text-transform: uppercase;
}

.active {
    background-color: orange;
}