*{
    font-family: sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 30px;
}
label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    
}
form {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(238, 238, 238, 0.932);
    border-radius: 15px 0px 15px 0px;

}
#td {
    width:30%;
    margin-left: auto;
    margin-right: auto;
}
span {
    color: orange;
    font-size: 30px;
}
input {
    box-shadow: 1px -1px 14px -2px grey;
    border-radius: 5px;
    padding: 7px;
    
}
#submit{
    background-color: rgb(202, 8, 8);
    width: 100%;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: none;
    border: none;
    padding: 7px;
    

}
hr{
    background-color: rgb(85, 82, 82);
}
#name {
    cursor: text;
}
#email {
    cursor: vertical-text;
}
#contact{
    cursor: pointer;
}
#address{
    cursor: wait ;
}
#submit {
    cursor: url("check.png");
}
    
