body {
    background-image: url(../images/bg.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}

div {
    width: 200px;
    height: 200px;
    position: relative;
    left: 48%;
    top: 71%;
}

img {
    position: absolute;
    width: 150px;
    height: 150px;
}

.active {
    display: block;
}

.no-active {
    display: none;
}

.left {
    transform: rotateY(180deg);
}

.jump {
    bottom: 80%;
}