body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/bg.jpg);
  background-size: cover;
}
div {
  position: absolute;
  bottom: 26%;
  left: 45%;
}
img {
  position: absolute;
}
#run {
  width: 120px;
}
#stand {
  width: 150px;
}
.active {
  display: block;
}
.no-active {
  display: none;
}
.left {
  transform: rotateY(180deg);
}
.jump {
  bottom: 50%;
}
